
# Edit at https://www.toptal.com/developers/gitignore?templates=python,jupyternotebooks,windows


labelme/*
dataset/*
logs/*
mask_rcnn_coco.h5
.ipynb_checkpoints/*



# End of https://www.toptal.com/developers/gitignore/api/python,jupyternotebooks,windows

