
# Edit at https://www.toptal.com/developers/gitignore?templates=python,jupyternotebooks,windows

labelme/*
.ipynb_checkpoints/*
# End of https://www.toptal.com/developers/gitignore/api/python,jupyternotebooks,windows

